// start ===========用到的几种颜色
@primary-color: #ff9900;
@primary-lighter: lighten(@primary-color,10%);
@primary-darker: darken(@primary-color,10%);
@success-color: #67C23A;
@warning-color: #ff9900;
@error-color: #ed4014;
@info-color: #2db7f5;
@title-color: #17233d;
@content-color: #515a6e;
@sub-color: #808695;
@disabled-color: #c5c8ce;
@border-color: #dcdee2;
@divider-color: #e8eaec;
@bg-color: #f8f8f9; // end ===========用到的几种颜色
// start  =========以上是全局的设置
*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#app,
.hello,
body,
html {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}
#app {
  color: @content-color;
  font-family: -apple-system, BlinkMacSystemFont, "PingFang SC","Helvetica Neue",STHeiti,"Microsoft Yahei",Tahoma,Simsun,sans-serif;
  -webkit-font-smoothing: antialiased;
}
.hello {
  display: flex;
  flex-flow: column;
  .content-box {
    overflow: hidden;
    overflow-y: auto;
    flex: 1;
  }
  header {
    display: flex;
    align-items: center;
    flex-flow: row;
    justify-content: space-between;
    height: 48px;
    background: #FFF;
    .title {
      flex: 1;
      padding: 0 16px;
      color: @title-color;
      font-weight: 800;
      font-size: 20px;
      line-height: 1;
    }
    .header-left a,
    .header-right a {
      display: block;
      padding: 0 16px;
      &:active {
        opacity: 0.7;
      }
    }
  }
  footer {
    position: relative;
    height: 56px;
    background-color: #fff;
    &:before {
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      border-top: 1px solid @divider-color;
      content: "";
      transform: scaleY(0.5);
    }
  }
}
.cover {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 500;
  flex: none;
  background-color: #e8ecef;
}
a:link {
  color: @content-color;
  text-decoration: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.text-left {
  text-align: left !important;
}
.text-right {
  text-align: right !important;
}
.text-center {
  text-align: center !important;
}
.color-title {
  color: @title-color;
}
.color-content {
  color: @content-color;
}
.color-sub {
  color: @sub-color;
}
.f20 {
  font-size: 20px;
}
.f18 {
  font-size: 18px;
}
.f16 {
  font-size: 16px;
}
.f14 {
  font-size: 14px;
}
.f12 {
  font-size: 12px;
}
// end =========以上是全局的设置
// tabar
.tabbar {
  display: flex;
  flex-flow: row;
  .tabbar-item {
    flex: 1;
    padding: 4px 0 0;
    height: 56px;
    text-align: center;
    &:active {
      background-color: @bg-color;
    }
    .tabbar-icon {
      display: block;
      margin: 0 auto;
      width: 28px;
      height: 28px;
      > img {
        transition: all 0.2s;
        filter:brightness(1.5) grayscale(1);
      }
    }
    .tabbar-text {
      font-size: 12px;
    }
    &.on {
      .tabbar-text {
        color: @primary-color;
      }
      .tabbar-icon {
        > img {
          filter:brightness(1) grayscale(0);
        }
      }
    }
  }
}
// end tabbar
// start 转场动画
.fade-enter-active {
  transition: all 0.2s ease;
}
.fade-leave-active {
  transition: all 0.2s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}
.fade-enter,
.fade-leave-to {
  transform: translateX(100%);
}
//end 转场动画
// 覆盖grid的样式重写图标大小
.weui-grid__icon {
  width: 40px !important;
  height: 40px !important;
}
.weui-grid:active {
  background-color: @bg-color !important;
}
//覆盖weui-cell的样式
.weui-cell {
  padding: 16px !important;
}
.vux-tap-active:active,
.weui-cell_access:active {
  background-color: @bg-color !important;
}